@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(41, 41, 41);
    color: #fff;
    text-transform: uppercase;   
}

.container {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text1 {
    font-size: 3rem;
    letter-spacing: 8px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    animation: text 3s ease-in-out;
}

.text2 {
    font-size: 1.5rem;
    color: black;
    animation: text2 3s ease-in-out;
    letter-spacing: 4px;
}

@keyframes text {
    0% {
        color: black;
        transform: translateY(-50%);
    }
    100% {
        color: #fff;
        transform: translateY(0);
    }

}

@keyframes text2 {
    0% {
        color: white;
        transform: translateY(50%);
    }
    100% {
        color: black;
        transform: translateY(0);
    }
}